{% extends 'layout.html.twig' %}
 {% block breadcrumb %}{% endblock %}
{% block content %}
    <div id="contenu">
    <div class="col-md-8">
        <div class="box">

            <div class="box-body">
                <h1>Pastèque-admin <small>Interface d'administration</small></h1>

                <p>Vous êtes dans votre interface d'administration où vous pouvez créer vos produits, catégories, accéder à
                    vos statistiques de ventes etc.</p>

                <h2>Téléchargement</h2>

                <p>Pour enregistrer des ventes,  deux clients existent : </p>
                <ul>
                    <li><a href="http://downloads.pasteque.org/android/pasteque-android.apk">La version android</a>,
                        pour tablettes
                    </li>
                    <li><a href="http://downloads.pasteque.org/desktop/pasteque-desktop-installer.jar">La version <i>Desktop</i>
                            (pour Windows, MacOS, Gnu/Linux …)</a></li>
                </ul>
                <p></p>

                <h2>Documentation</h2>

                <p>Il y a plusieurs sources de documentation :
                </p>
                <ul>
                    <li><a href="https://fr.wikibooks.org/wiki/Past%C3%A8que_%28logiciel%2r">Manuel d’installation, de
                            configuration et d’utilisation sur wikibooks</a></li>
                    <li><a href="https://ask.pasteque.org/">Les forums communautaires</a></li>
                    <li><a href="http://https://framagit.org/groups/pasteque">Le bug tracker</a></li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="box">

            <div class="box-body">

                <div class="twitter-feed">
                    <a class="twitter-timeline" href="https://twitter.com/pastequepos"
                       data-widget-id="584374065407885312">Tweets de @pastequepos</a>
                    <script>!function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
                </div>
            </div>

        </div>
    </div>
    </div>

{% endblock %}