{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des categories</h1>

    <table class="table">
        {% for categorie in tab_categories %}
            <tr>
                <td>{{ categorie.reference }}</td>
                <td>{{ categorie.label }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}