{% extends 'layout'~layout_cplt~'.html.twig' %}
{% set category = charger_objet() %}
{% block content %}
<div id="contenu">
    <div class="row">
        <!-- Colonne principal-->
        <div class="col-sm-8 {{ objet }}">
            <div class="box">

            <div class="box-body">
                <div class="pull-right">
                    <div class="btn-group">
                        {{ bouton('modify', {'class_cplt':'modal_form','bt_texte':true}) }}
                        {{ bouton('delete', {'bt_texte':true}) }}
                    </div>
                </div>

                <h2>{{ category.label }}</h2>

                <div class="container-fluid">

                    <div class="col-md-3">
                        {% if category.hasImage() %}
                            <img class="thumbnail img-responsive img-rounded"
                                 src="{{ path('image',{'objet':'category','id': category }) }}" align="left" width="200px"/>
                        {% else %}
                            <i class="ico ico-category ico-5x"></i>
                        {% endif %}
                    </div>

                    <div class="col-md-9">
                        <dl class="dl-horizontal">

                            <dt>{{ 'Réference'|trans }}</dt>
                            <dd>{{ category.reference }}</dd>

                        </dl>

                    </div>
                </div>
                </div>
                </div>
                </div>





            <!-- Colonne de gauche-->
    <div id="aside" class="col-sm-4">




        <div class="box box-default informations">
            <div class="box-header">
                <h5> {{ 'Informations'|trans }}
                </h5>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    </div>
    </div>



{% endblock %}
