<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ app.name|trans }}</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ asset('/assets/css/styles.css') }}" type="text/css" title="Main CSS"
              media="screen"/>

        <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>


        {% if js_suppl is defined %}
            <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js"></script>
        {% endif %}
        {% block head_cplt %}{% endblock %}

    {% endblock %}
</head>
<body class="hold-transition skin-green layout-top-nav">
<div class="wrapper">
    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->

    {% block alert %}
        {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message|trans|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {% block content %}
        {% block aside %}

        {% endblock %}
        {% block contenu %}

        {% endblock %}
    {% endblock %}


</div>

{% include 'inclure/footer.html.twig' %}


{% block scripts_footer %}
    <script src="{{ app.request.basepath }}/assets/js/scripts_footer.js"></script>
{% endblock %}
</body>
</html>

