<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr"> <!--<![endif]-->

<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ app.name|trans }} - {{ sac('page')|trans }}</title>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ asset('/assets/css/styles.css') }}" type="text/css" title="Main CSS"  media="screen"/>

        <script src="{{ asset('assets/js/scripts.js') }}" type="text/javascript"></script>
        <script src="{{ path('vars_point_js') }}" type="text/javascript"></script>

        {% if js_suppl is defined %}
        <script src="{{ app.request.basepath }}/assets/js/{{ js_suppl }}.js"></script>
        {% endif %}
        {% block head_cplt %}{% endblock %}

    {% endblock %}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">


    <!--[if lt IE 9]><p class="firefoxframe">Votre navigateur est <em>vétuste!</em> <a href="http://browsehappy.com/">Optez
        pour un navigateur récent</a> pour une meilleure expérience.</p><![endif]-->


    {% include 'menu.html.twig' %}


    <div class="content-wrapper">
        <div class="container-fluid">

            <section class="content-header">

                {% block header %}
                    <div id="fil_ariane">
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{{ path('homepage') }}" title="{{ 'accueil'|trans }}"><i
                                                class="fa fa-home"></i></a></li>
                                {% for lignefil in menu_page_gauche() %}
                                    {% if lignefil['url'] is defined %}
                                        {% if lignefil['url'] is null %}
                                            <li>{{ lignefil['nom']|raw }}</li>
                                        {% else %}
                                            <li><a href="{{ lignefil['url'] }}">{{ lignefil['nom']|raw }}</a></li>
                                        {% endif %}
                                    {% else %}
                                        {% if lignefil['nom'] is defined %}
                                            <li>{{ lignefil['nom']|raw }}</li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        {% endblock %}
                    </div>
                {% endblock %}

            </section>


            {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
            {% for alert in alertTypeAvaillable %}
                {% for message in app.session.getFlashBag.get(alert) %}
                    <div class="alert alert-{{ alert }}">
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}
            {% endblock %}

        </div>


    </div>


</div>
{% include 'inclure/footer.html.twig' %}

{% block scripts_footer %}
    <script src="{{ asset('assets/js/scripts_footer.js') }}"></script>
    {% block scripts_footer_cplt %}{% endblock %}
{% endblock %}
</body>
</html>
