{% extends 'layout_basic.html.twig' %}
{% block breadcrumb %}{% endblock %}
{% block content %}


    <div class="login-box">
        <div class="row-fluid">
            <div class="col-md-4">
                <div class="login-logo">
                    <img src="{{ app.request.basepath }}/assets/images/pasteque_logo.png" alt="{{ app.name|trans }}" />
                </div>
            </div>
            <div class="col-md-6">
            <div class="login-box-body ">
                <p class="login-box-msg"></p>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|trim('.')|trans() }}
                    </div>
                {% endif %}
                <form action="{{ path('login_check') }}" method="post" novalidate class="form-vertical">
                    {% form_theme form with ['bootstrap_3_layout.html.twig'] %}
                    {{ form_widget(form) }}


                        <div>
                            <button class="btn btn-primary" type="submit">{{ 'Se connecter'|trans }}</button>
                        </div>
                        <div >
                            <div class="checkbox_remember">
                                <label for="remember_me">
                                        <input type="checkbox"  id="remember_me"  name="_remember_me"  /> {{ 'Se souvenir de moi'|trans }}
                                </label>
                            </div>
                        </div>

                </form>
                <div class="mdpp"><a href="{{ path('login',{'action':'motdepasseperdu'}) }}">{{ 'J\'ai oublié mon mot de passe'|trans }}</a></div>


            </div>
        </div>

    </div>
    </div>

{% endblock %}
