<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}"><img
                            src="{{ app.request.basepath }}/assets/images/pasteque-backoffice.png"
                            alt="Pasteque Backoffice"/> </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>

            </div>

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

                {% if menu_general is defined  and menu_general %}
                    <ul class="nav navbar-nav">
                        {% for key, item in menu_general %}
                            {% if item['menu'] is defined %}
                                {% if key|autorisationPage or (item['permission'] is defined and item['permission']|autorisation) %}

                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            role="button" aria-expanded="false">
                                            {#la barre#}
                                            {% if item['label'] is defined %}
                                                {{ item['label']|trans }}
                                            {% else %}
                                                {{ key }}
                                            {% endif %}
                                            <span class="caret"></span></a>

                                        <ul class="dropdown-menu" role="menu">
                                            {% for k,i in item['menu'] %}

                                                {% if k|autorisationPage %}
                                                    <li>
                                                        {% if k|slice(0,4)=='http' %}
                                                            <a href="{{ k }}">{{ i|trans }}</a>
                                                        {% else %}
                                                            <a href="{{ path(k) }}">{{ i|trans }}</a>
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    {#{% if k|slice(0,4)=='----' %}#}
                                                    <li>-------------------------</li>
                                                    {#{% endif %}#}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>

                                    </li>
                                {% endif %}
                            {% else %}
                                {% if key|autorisationPage or (item['permission'] is defined and item['permission']|autorisation) %}
                                    <li><a href="{{ path(key) }}" role="button" aria-expanded="false">
                                            {#Accueil#}
                                            {% if item['label'] is defined %}
                                                {{ item['label']|trans }}
                                            {% else %}
                                                {{ key }}
                                            {% endif %} </a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <!-- fin menu général -->
                    <!-- acces direct recherche-->
                    <form class="navbar-form navbar-left" role="search" action="{{ path('recherche') }}"
                          method="get">
                        <div class="form-group">

                            <input type="text" class="form-control" id="navbar-search-input"
                                   placeholder="{{ 'Product reference '|trans }}"
                                   name="search"/>
                        </div>
                        <button type="submit" class="btn btn-default hide">{{ 'Accès direct'|trans }}</button>
                    </form>
                    <!-- fin acces direct -->

                {% endif %}
                <!-- fin de la partie centrale -->
            </div>
            <!-- partie droite -->
            <div class="navbar-custom-menu pull-right">
                {% set  id_operateur = suc('operateur.id') %}
                <ul class="nav navbar-nav">


                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                            <!-- The user image in the navbar-->
                            <span class="glyphicon glyphicon-user"></span>
                            <!--
                            <img alt="User Image" class="user-image" src="../../dist/img/user2-160x160.jpg">-->
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs"> {{ suc('user.name') }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">
                                    <span class="glyphicon glyphicon-user"></span> {{ 'Votre profil'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}">
                                    <span class="glyphicon glyphicon-off"></span> {{ 'Se déconnecter'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
