{% extends 'layout.html.twig' %}

{% block content %}

    <!-- Colonne principal-->
    <div id="contenu" class="col-sm-6">
        <div class="box">
        <h2>{{ objet_action|trans }}</h2>
         {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
        {{ form(form, {action:  retour_form }) }}
        </div>
    </div>

{% endblock %}
