{% extends 'layout'~layout_cplt~'.html.twig' %}

{% block content %}
   <!-- Colonne principal-->
    <div id="contenu">
        <div class="row">
     <div class="col-sm-8 product">
        <div class="box">

            <div class="box-body">
                <div class="pull-right">
                    <div class="btn-group">
                        {{ bouton('modify', {'class_cplt':'modal_form','bt_texte':true}) }}
                        {{ bouton('delete', {'bt_texte':true}) }}
                    </div>
                </div>

                <h2>{{ product.label }}</h2>

                <div class="container-fluid">

                    <div class="col-md-3">
                        {% if product.hasImage() %}
                            <img class="thumbnail img-responsive img-rounded"
                             src="?{url_action_param}=img&w=product&id={$product->id}" align="left" width="200px"/>
                        {% else %}
                            <i class="ico ico-product ico-5x"></i>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <dl class="dl-horizontal">

                            <dt>{{ 'Reference'|trans }}</dt>
                            <dd>{{ product.reference }}</dd>

                            <dt> {{ 'Code'|trans }}</dt>
                            <dd>{{ product.barcode }} </dd>

                            <dt>{{ 'Category'|trans }}</dt>
                           <dd>
                                <a href="{{ path('category',{'id':product.category.id}) }}">{{ product.category.label }}</a>
                            </dd>

                            <dt> {{ 'Prix d\'achat'|trans }}</dt>

                            <dd>{{ product.priceBuy }} {{currency_symbol}}</dd>


                            <dt>{{ 'Prix de vente (hors taxe)'|trans }}</dt>

                            <dd>{{ product.priceSell }} {{currency_symbol}}</dd>

                            <dt>{{ 'Prix de vente TTC'|trans }}</dt>

                            <dd>{{ product.TaxedPrice }} {{currency_symbol}}</dd>


                            <dt>{{ 'Margin Rate'|trans }}</dt>
                            <dd>{{ product.marginRate|round(2, 'floor') }}</dd>

                            <dt>{{ 'Tax'|trans }}</dt>
                            <dd>{{ product.tax.label }}</dd>
                        </dl>

                        {% if product.scaled %}<p>{{ 'Ce produit est vendu au poids.'|trans }}</p>{% endif %}
                        {% if product.visible == false %}
                            <p>{{ 'Ce produit n\'est pas affiché au catalogue.'|trans }}</p>{% endif %}
                    </div>
                </div>


                {#<h3>{translate module=product_suppliers}Suppliers{/translate}</h3>#}
                {#<ul>#}
                {#{foreach $suppliers as $supplier_link}#}
                {#<li>#}
                {#{$supplier=$supplier_link['supplier']}#}
                {#<a href="{url_action module="product_suppliers" action="supplier" param=["id" => $supplier->id]}">{$supplier_link['supplier']->name}</a>#}
                {#- {$supplier_link['reference']}{if $supplier_link['reference']==''} Réference fournisseur non renseigné{/if}#}
                {#<div class="btn-group">#}
                {#{btn href={url_action module="product_suppliers" action="supplier" param=["id" => $supplier->id]} label=view|translate fa="eye"}#}
                {#{btn href={url_action module="product_suppliers" action="product_supplier_delete" param=["id_supplier" => $supplier->id,"id_product" => $product->id] } label=Delete|translate glyph="edit"}#}
                {#</div>#}
                {#</li>#}
                {#{/foreach}#}
                {#</ul>#}
                {#<div><strong>{translate module=product_suppliers}Attach a supplier{/translate}</strong>#}
                {#{if $supplier_message!=''}<div class="alert alert-success">{$supplier_message}</div> {/if}#}
                {#{if $supplier_error!=''}<div class="alert alert-danger">{$supplier_error}</div> {/if}#}
                {#{$supplier_form}#}
                {#</div>#}




                {#<h3>{translate module=product_suppliers}Statistique{/translate}</h3>#}



                {#<div id="chart_sales" style="height: 250px;"></div>#}

                {#<script type="application/javascript">#}

                {#new Morris.Line({#}
                {#element: 'chart_sales',data:[	{foreach $tab_stat as $mois=>$stat}#}
                {#{ mois : '{mois}',value: {$stat} }{if not $stat@last},{/if}#}
                {#{/foreach}#}
                {#],#}
                {#xkey: 'mois',#}
                {#ykeys: ['value'],#}
                {#labels: ['Vente']#}
                {#});#}

                {#</script>#}

                {#<table class="table table-stripped">#}
                {#{foreach $tab_stat as $mois=>$stat}#}
                {#<tr>#}
                {#<td>{$mois}</td>#}
                {#<td>{$stat}</td>#}
                {#</tr>#}
                {#{/foreach}#}
                {#</table>#}


            </div>
        </div>
</div>

        <!-- Colonne de droite-->
        <div id="aside" class="col-sm-4">

            <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'History'|trans }} </h5>
                </div>
                <div class="box-body">

                </div>
            </div>

               <div class="box box-default informations">
                <div class="box-header">
                    <h5> {{ 'Stat'|trans }} </h5>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>
        </div>
        </div>


    </div>
{% endblock %}
