$magenta : #b02264;
$pink: #ed4b8b;
$vert-mres : #117a25;
$vert-haricot : #5aaf58;
$rouge-mres : #ca191b;
$orange-mres : #dca037;

$white-trans : rgba(250, 250, 250, 0.97);
$white-trans80 : transparentize(#FFF, 0.2);
$white-trans90 : transparentize(#FFF, 0.1);
$white-trans95 : transparentize(#FFF, 0.05);
$white-trans70 : transparentize(#FFF, 0.3);
$white-trans50 : transparentize(#FFF, 0.5);
$gray-trans80 : transparentize($gray-lighter, 0.1);
