<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container-fluid">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ version }}
        </div>
        <strong>{{ application_nom }}</strong> {{ 'Free software'|trans }}
        <small>{{ 'supported  by'|trans }} <a href="http://www.pasteque.org" target="_blank">l'association Pasteque</a>.</small>
    </div>
</footer>