{% form_theme form with ['form_large.html.twig'] %}
{%  if form_schema is defined and form_schema is not empty %}

    {% set mode_saisie = 'tortue' %}{% if pref('individu.mode_saisie')==1 %}{% set mode_saisie = 'lievre' %}{% endif %}
    {{ form_start(form, {style: 'horizontal','label_col': 3, 'widget_col': 9,attr:{class:mode_saisie} })  }}

    {% include('form/'~form_schema~'.html.twig') with {'form':form} only %}

    {{ form(form) }}
    {{ form_end(form) }}


{% else %}
    {{ form(form) }}
{% endif %}
<script type="application/javascript">
    $(document).ready(function() {
        conteneur_form = $('form[name={{ form.vars.name }}]');
        initialisation_composant_form(conteneur_form);

        {%  if js_init is defined and js_init is not empty %}
            {%  if j_inits_args is defined %}
            options ={
                {% for k,arg in js_init_args %}
                '{{ k }}' : '{{ arg }}' {% if not loop.last %},{% endif %}
                {% endfor %}
            };
            {% endif %}
            initialisation_{{ js_init }}(conteneur_form);
        {% endif %}

    });

    {%  if js is defined and js is not empty %}
        {%  if js_options is not defined %}
            {% set js_options = [] %}
        {% endif %}
        {% include 'js/'~ js ~'.js.twig' with { 'name':form.vars.name, 'options': js_options } %}
    {% endif %}


 </script>