{# Liste des paramètres

option : Type du bouton (préconfiguration css + icon ) 'ajoute' si non défini

nom : label du bouton
nomcplt : Texte présent un badge
url :  lien href
class : class de l'objet
class_cplt : class complémentaire de l'objet
wrap : enveloppe html
bt_texte : affichage du texte par defaut false
icone : icone du lien , par defaut ''
sans_icone : affichage l'icone par defaut false
supcplt : Pharse
#}
{% if not (url is defined and url is not empty) %}
    {% set url='#' %}
{% endif %}
{% if wrap is not defined %}{% set wrap='' %}{% endif %}
{% if class_cplt is not defined %}{% set class_cplt='' %}{% endif %}



{% set bt_class = '' %}



{% if nom is not defined %}
    {% if not(action is defined and action is not  empty) %}
        {% set nom = objet %}
    {% else %}
        {% set nom = objet~'_'~action %}
    {% endif %}
{% endif %}
{% if bt_icone is not defined %}{% set bt_icone='' %}{% endif %}
{% if bt_texte is not defined %}{% set bt_texte = false %}{% endif %}
{% if tooltip is not defined %}
    {% set tooltip=true %}
    {% if bt_texte %}{% set tooltip=false %}{% endif %}
{% endif %}



{% if action is defined %}
    {% set bt_class = 'btn' %}
{% else %}
    {% set action = '' %}
{% endif %}


{#///////////////////////////#}
{#//CONFIGURATION PREDEFINI//#}
{#///////////////////////////#}


{#-----voir------------#}
{% if action =='voir' %}
    {% set bt_class = bt_class ~ ' btn-info' %}
    {% set bt_icone = 'glyphicon glyphicon-eye-open' %}


    {#-----ajouter------------#}

{% elseif action == 'add' %}
    {% set bt_class = bt_class ~ ' btn-primary' %}
    {% set bt_icone = 'glyphicon glyphicon-plus' %}

    {#-----modifier------------#}
{% elseif action == 'modify' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'fa fa-pencil' %}

    {#-----dupliquer------------#}
{% elseif action == 'duplicate' %}
    {% set bt_class = bt_class ~ ' btn-success' %}
    {% set bt_icone = 'glyphicon glyphicon-copy' %}

    {#-----supprimer------------#}
{% elseif action == 'delete' %}
    {% set bt_class = bt_class ~ ' btn-danger' %}
    {% set bt_icone = 'fa fa-trash-o' %}
    {#-----changer_mdp------------#}
{% elseif action == 'change_pawd' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'glyphicon glyphicon-lock' %}
    {#-----fusion------------#}
{% elseif action == 'merge' %}
    {% set bt_class = bt_class ~ ' btn-warning' %}
    {% set bt_icone = 'glyphicon glyphicon-transfer' %}

    {#-----pref------------#}

{% elseif action == 'pref' %}
    {% set bt_class = bt_class ~ ' btn-default modal_form' %}
    {% set bt_icone = 'glyphicon glyphicon-cog' %}
    {% set title = 'preference' %}


{% elseif action =='tag' %}
    {% set bt_class = bt_class ~ ' btn-default' %}
    {% set bt_icone = 'fa fa-tag' %}

    {#-----search------------#}
{% elseif action =='search' %}
    {% set bt_class = bt_class ~ ' btn-info' %}
    {% set bt_icone = 'glyphicon glyphicon-search' %}
    {% if nom is not defined %}{% set nom='rechercher' %}{% endif %}


    {#-----annuler------------#}
{% elseif nom is defined and nom == 'cancel' %}
    {% set bt_class = bt_class ~ ' btn-default' %}
    {% set bt_icone = 'glyphicon glyphicon-chevron-left' %}
{% endif %}






{% if tooltip %}
    {% set bt_class = bt_class ~ ' force-tooltip' %}
{% endif %}

{% if nom is not defined %}{% set nom='' %}{% endif %}
{% if class is defined %}{% set bt_class = class %}{% endif %}
{% set sans_icone = false %}
{% if bt_texte_gauche is not defined %}
    {% set bt_texte_gauche = false %}
{% endif %}
{% if bt_icone is not empty %}
    {% if sans_icone is not defined %}{% set sans_icone = false %}{% endif %}
{% endif %}
{% if title is not defined %}{% set title=action %}{% endif %}

 {{ wrap|raw }}

<a class="{{ bt_class }} {{ class_cplt }}"



    {% if action == 'delete'  %}

        {% if sac(objet~'.nomcplt') %}
            {% set supcplt =':' %}
        {% else %}
            {% set supcplt ='' %}
        {% endif %}

        data-confirm-supprimer="{{ nom|trans }} {{ supcplt }} {{ sac(objet~'.nomcplt')|raw }} ? "
        data-href="{{ url }}"
        {% if js_callback_remove is defined %}
            data-js-callback-remove="{{ js_callback_remove }}"
        {% endif %}
        {% set url = '#' %}
    {% endif %}


   href="{{ url }}"   title="{{ title|trans|raw }}"

    {% if tooltip_placement is defined %}
        data-placement="{{tooltip_placement}}"
    {% endif %}

    {% if bouton_id is defined %}
        id="{{ bouton_id }}"
    {% else %}
        id="lien_{{ objet~'_'~action }}"
    {% endif %}
>
    {% if bt_texte and bt_texte_gauche %}
        {{ nom|trans|raw }}
    {% endif %}
{% if not sans_icone %}
    <i class="{{ bt_icone }}"></i>
{% endif %}

    {% if bt_texte and  not bt_texte_gauche %}
        {{ nom|trans|raw }}
    {% endif %}

</a>
{{ wrap|closingTag|raw }}
