<div class="row-fluid">
{% for  key, selection  in tab_selections %}


    <div id="selection{{ key }}" data-id="{{ key }}" data-value="{{ selection.valeurs|json_encode(true) }}" class="selection clearfix">
        <div class="col-md-10">
            <div class="nom">{{ selection.nom }}</div>
            <div class="description">{{ selection.description }}</div>
        </div>
        <div class="col-md-2">
            <div class="btn-group" role="group" >
            {#{{ bouton('modifier',{'url':path('preferences',{'action':'modifier_selection','id': key,'objet':objet })}) }}#}
            {{ bouton('supprimer',{'url':path('preferences',{'action':'supprimer_selection','id': key,'objet':objet }),'js_callback_remove':'#choix_selection #selection'~key}) }}
            </div>
        </div>
    </div>

{% endfor %}
</div>