<div id="super_tableau_{{ objet }}">
	<nav class="navbar navbar-default ">
		<div class="container-fluid">
			{%  if tab_filtres is not defined %}{% set tab_filtres = {} %}{% endif %}
			{%  if selection is not defined %}{% set selection = false %}{% endif %}
			{% include('inclure/barre_filtre.html.twig') with{'objet':objet,'tab_filtres':tab_filtres,'selection':selection} only %}
		</div>
	</nav>

	<div class="box-body">
		{% include('inclure/table_col.html.twig') with{'tab_col':tab_col,class:'ajaxdatatable'} only %}
	</div>
</div>
{%  if filtres_statiques is not defined %}{% set filtres_statiques = {} %}{% endif %}
{%  if options is not defined %}{% set options = {} %}{% endif %}
{%  if objet_bloc is not defined %}{% set objet_bloc = objet %}{% endif %}
{%  if tri is not defined %}{% set tri = {} %}{% endif %}
{% include('inclure/table_dyn_js.html.twig') with{'objet':objet,'objet_bloc':objet_bloc,'tab_col':tab_col,'tab_filtres':tab_filtres,'tri':tri,'filtres_statiques':filtres_statiques,'options':options} only %}
