{% extends 'layout.html.twig' %}
{% block breadcrumb %}
    <a class="btn btn-default" href="{{ path('memoire',{'action':'vider_cache'}) }}">Vider le cache</a>
    <a class="btn btn-default" href="{{ path('memoire',{'action':'rafraichir'}) }}">Rafraichir les variables en cache</a>

{% endblock %}
{% block content %}
{{ content|raw }}
{% endblock %}
