<div class="btn-group" role="group">
    {{#url}}
    <a class="btn btn-info btn-sm force-tooltip " href="{{url}}" title="voir" data-placement="bottom" id="lien_voir">
        <i class="glyphicon glyphicon-eye-open"></i>
    </a>
    {{/url}}
    {{#url_form}}
    <a class="btn btn-warning btn-sm force-tooltip modal_form" href="{{url_form}}" title="Modification de la fiche" data-placement="bottom" id="lien_modifier">
        <i class="fa fa-pencil"></i>
    </a>
    {{/url_form}}
    {{#url_delete}}
    <a class="btn btn-danger btn-sm force-tooltip " data-confirm-supprimer="Supprimer cette ligne  ? " data-href="{{url_delete}}" href="#" title="supprimer" data-placement="bottom" id="lien_supprimer">
        <i class="fa fa-trash-o"></i>
    </a>
    {{/url_delete}}
</div>